// CORES
$corDeFundo: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgba(113,118,59,1) 53%, rgba(0,0,0,1) 100%) no-repeat;
$corTextoPrincipal: #fff;
$corTextoParagrafo: #ccc;


//FONTES
$fontPrincipal: 'Kanit', sans-serif;